Options -Indexes

# Permanently removed
Redirect Gone /~hugues/Last.fm/Badges
Redirect Gone /~hugues/Last.fm/Badges_v2

# And failback out-of-order picture
ErrorDocument 410 /~hugues/Last.fm/out-of-order.png
ErrorDocument 404 /~hugues/Last.fm/out-of-order.png

