Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/BigLine/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index/$1 [L]


# Permanently removed
Redirect Gone /Badges
Redirect Gone /Badges_v2

# And failback out-of-order picture
ErrorDocument 410 /out-of-order.png
ErrorDocument 404 /out-of-order.png

